@import "bootstrap-sprockets";
@import "bootstrap";

@import url(http://fonts.googleapis.com/css?family=Ubuntu:300,400,700&subset=latin,cyrillic);

body, html {
  font-family: 'Ubuntu', Arial, sans-serif;
  font-weight: 300;
  max-width: 100%;
  overflow-x: hidden;
}

body.modal-open {
    padding-right: 0px !important;
}

.clear { clear: both;}

.flash_message {
  position: fixed;
  z-index: 9999;
  width: 100%;
}

/* Buttons */
.yellow_button {
  font-size: 14px;
  font-weight: 400;
  color: #000;
  background: #ffca05;
  display: inline-block;
  padding: 10px 15px;
  text-transform: uppercase;
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  cursor: pointer;
}

.yellow_button:hover {
  text-decoration: none;
  color: #000;
}

.yellow_button:active {
  background: #f0506f;
  text-decoration: none;
  color: #000;
}

.black_button {
  font-size: 14px;
  font-weight: 400;
  color: #000;
  background: none;
  border: 1px solid #000;
  display: inline-block;
  padding: 10px 15px;
  text-transform: uppercase;
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  cursor: pointer;
}

.black_button:hover {
  text-decoration: none;
  color: #000;
}

.black_button:active {
  background: #000;
  text-decoration: none;
  color: #fff;
}

//layout

.header {
	background: image-url('header.jpg') no-repeat;
	height: 622px;
	padding-top: 60px;
	
	.logo {
		width: 400px;
		float:left;	
		h2 {text-indent: -9999px; display:none;}
		p {margin: 15px 0 0 102px; color: #fff;}
	}
	
	.main_menu {
		padding: 0;
		color: #fff;
		font-size: 14px;
		ul {
			margin: 0 0 5px 0;
			list-style-type: none;
			text-align: right;
			li {
				display: inline-block;
				margin-left: 10px;
				&:first-child {
					margin-left: 0;
				}
				a {
					color: #fff;
				}
			}
		}
	}
	
	.promo_block {
		clear: both;
		position: relative;
		left: 50%;
		margin-left: -50px;
		h1 {
			font-size: 28px;
			line-height: 30px;
			font-weight: 300;
			color: #fff;
		}
		a {
			margin-top: 60px;
			width: 320px;
			text-align: center;
			padding: 13px 15px;
			font-size: 18px;
		}
	}
}

.footer {
	box-shadow: inset 0 7px 9px -7px rgba(0,0,0,0.7);
	-moz-box-shadow: inset 0 7px 9px -7px rgba(0,0,0,0.7);
	-webkit-box-shadow: inset 0 7px 9px -7px rgba(0,0,0,0.7);
	
	color: #fff;
	background: #333;
	padding: 40px 0 40px 0;
	
	a, a:hover { color: #fff; cursor: pointer;}
	
	.copyright, .tagline {
		line-height: 20px;
		font-size: 14px;
	}
	
	.main_menu {
		font-size: 14px;
		ul {
			padding: 0;
			list-style-type: none;
			text-align: right;
			margin: 0;
			li {
				display: inline-block;
				margin-left: 10px;
				&:first-child {
					margin-left: 0;
				}
				a {
					color: #fff;
				}
			}
		}
  }
	.social-nav {
		margin-top: 20px;
		ul {
			padding: 0;
			list-style-type: none;
			text-align: left;
			li {
				display: inline-block;
				margin-left: 5px;
				&:first-child {
					margin-left: 0;
				}
				a {
					width: 45px;
					height: 46px;
					display: block;
					background: image-url("social-icons.png");
					border-radius: 1px;
					&.fb {background-position: 0 0;}
					&.fb:hover {background-position: -45px 0;}
					&.tw {background-position: -180px 0;}
					&.tw:hover {background-position: -225px 0;}
					&.yt {background: image-url("youtube_y.svg");}
					&.yt:hover {background: image-url("youtube_b.svg");}
					&.tg {background: image-url("telegram_y.svg");}
					&.tg:hover {background: image-url("telegram_b.svg");}
					&.in {background: image-url("insta_y.svg");}
					&.in:hover {background: image-url("insta_b.svg");}
				}
			}
		}
	}
	
	hr {
		background: #4d4d4d;
		border: none;
		height: 1px;
		width: 360px;
		margin: 20px 0;
	}
}

#form-more, #form-plan, #form-go, #privacy_policy {
	.modal-content {
		border-bottom-left-radius: 0px;
		border-top-left-radius: 0px;
		border-bottom-right-radius: 0px;
		border-top-right-radius: 0px;
	}
	.modal-header, .modal-footer {
		border: none;
	}
	.modal-header {
		text-align: right;
		.close {float: none;}
		h4 {
			text-transform: uppercase;
			text-align: center;
		}
	}
	.modal-body {
		
		p {
			color: #4d4d4d;
			font-weight: 400;
		}
		input[type="text"], input[type="tel"], input[type="email"] {
			height: 36px;
			width: 209px;
			box-sizing: border-box;
			padding: 0 10px;
			border: 1px solid #999;
			background: #fff;
			color: #0e0e0e;
			margin-bottom: 10px;
		}
		input[type="submit"]{
			width: 209px;
			height: 46px;
			border: none;
			background: #ffca05;
			color: black;
			margin-bottom: 10px;
			text-transform: uppercase;
			font-weight: 400;
		}
		img, span {display:inline-block;}
		span {
			vertical-align: top; 
			width: 182px; 
			padding-left: 5px; 
			box-sizing: border-box;
			line-height: 16px;
		}
	}
}

// pages

.key_features, .systematic_approach, .process, .work_with_us {
	padding-bottom: 40px;
	
	h3 {
		text-transform: uppercase;
		font-size: 20px;
		text-align: center;
		margin: 30px 0 0 0;
		color: #333;
	}
	
	hr {
		background: #e6e6e6;
		border: none;
		height: 1px;
		width: 450px;
		text-align: center;
		margin-top: 15px;
	}
	
	.features {
		text-align: center;
		margin-top: 60px;
		
		
		.features__image_wrapper {
			height: 125px;
			margin-bottom: 20px;
		}
		
		h4 {
			font-size: 20px;
			margin-bottom: 20px;
		}
		
		p {
			text-align: left;
		}
	}
}

.key_features {
	.features {
		div.col-md-4:first-child .features__image_wrapper {
			img {margin-left: 15px;}
		}
	}
}

.media_plan {
	box-shadow: inset 0 7px 9px -7px rgba(0,0,0,0.7);
	-moz-box-shadow: inset 0 7px 9px -7px rgba(0,0,0,0.7);
	-webkit-box-shadow: inset 0 7px 9px -7px rgba(0,0,0,0.7);
	
	background: #ffca05;
	height: 282px;
	
	span {
		display: block;
		margin-top: 60px;
		font-size: 18px;
		color: #000;
	}
	
	a {
		margin-top: 40px;
	}
	
	.plan {
		background: image-url("plan.png");
		width: 282px;
		height: 302px;
		position:relative;
		margin-top: -20px;
	}
}

.systematic_approach {
	text-align: center;
	
	hr {width: 600px;}
	.features {
		.features__image_wrapper {
			height: 90px;
		}
		h4 {font-size: 16px;}
	}
	
	.sales_funnel {
		margin: 80px 0 80px 0;
		img {margin: 0 auto;}
	}
}

.process {
	color: #fff;
	background: #333;
	text-align: center;
	h3 {color: #fff; font-weight: 300;}
	hr {background: #fff; width: 210px;}
	.features {
		.features__image_wrapper {
			height: 90px;
		}
		h4 {font-size: 16px;}
	}
	a {margin-top: 40px; width: 275px;}
}

.work_with_us {
	hr {width: 235px;}
}

/* Responsove media queries for pages */
@media (min-width: 1200px) {
	.header {
		background: image-url('header-lg.jpg');
	}
}

@media (max-width: 991px) {
	.key_features, .systematic_approach, .process, .work_with_us {
		padding-bottom: 0;
		.container{ display: none;}
	}
	
	.header-sm {
		
		.main_menu-sm {
			.navbar-toggle, .navbar-nav {
				display:none;
			}
		}
		
		.logo {	
			background: #333;
			padding: 40px 0;
			h2 {text-indent: -9999px; display:none;}
			p {margin: 15px 0 0 102px; color: #fff;}
		}
		.promo_block {
			padding: 40px 0;
			background: image-url('header-sm.jpg');
			width: 100%;
			h1 {
				font-size: 24px;
				line-height: 30px;
				font-weight: 300;
				color: #fff;
			}
			a {
				width: 320px;
				text-align: center;
				padding: 13px 15px;
			}
		}
		
		.navbar-default {
			margin:0;
			background: #4d4d4d;
			border: none;
			border-bottom-left-radius: 0px;
			border-bottom-right-radius: 0px;
			border-top-left-radius: 0px;
			border-top-right-radius: 0px;
		}
		.navbar-default a, .navbar-default li a {
			color: #fff;
			&:hover {
				color: #eee;
			}
		}
		.navbar-collapse {
			padding: 0;
			border-top:0;
		}
		.navbar-brand {
			font-size: 16px;
		}
		.navbar-toggle {
			border: none;
			margin-left: 15px;
			padding: 8px 0;
			&:hover, &:focus, &:active {
				background: none;
			}
			.icon-bar {
				background-color: #fff;
				width: 23px;
				height: 3px;
			}
		}
	}
	
	.process { 
		a {
			margin-top: 0; 
			margin-bottom: 30px;
		}
		
		h4 {
			margin-top: 20px;
			padding: 0 30px;
		}
	}
	
	.work_with_us {
		a {
			width: 320px;
			text-align: center;
			padding: 13px 15px;
			margin: 0 auto 20px auto;
		}
	}
	
	.features p {
		padding-bottom: 20px;
	}
	
	h3.block_title {
		background: #4d4d4d;
		color: #fff;
		padding: 20px;
		font-size: 20px;
		font-weight: 300;
		border-top: 3px solid #333;
		margin: 0;
		cursor: pointer;
	}	
}

@media (max-width: 767px) {
	.header-sm {
		.navbar-collapse {
			.navbar-nav {
				margin:0;
				li a {
					text-align: center;
					padding: 15px 15px; 
					font-size: 16px; 
					text-transform: uppercase;
					border-top: 3px solid #333;
				}
			}
		}
	}
	#form-modal {
		.modal-content {
			form {
				text-align: center;
				input[type="submit"] {
					height: 36px;
					position: relative;
					top: -1px;
				}
			}
		}
	}
}

@media (max-width: 480px) { 
	.header-sm {
		.promo_block {
			a {width: 100%;}
		}
	}
	.work_with_us {
		a {
			width: 100%;
			margin-bottom: 20px;
		}
	}
	#form-more, #form-go, #form-plan {
		.modal-body {
			form {
				text-align: center;
				input[type="submit"] {
					height: 46px;
					position: relative;
					top: 0px;
				}
				input[type="text"], input[type="tel"], input[type="submit"] {width: 100%;}
			}
			span {
				width: 200px;
				vertical-align:top;
			}
		}
	}
	.footer .social-nav ul li {
		a {
			width: 34px;
			height: 35px;
			display: block;
			background: image-url("social-icons-sm.png");
			border-radius: 1px;
			&.fb {background-position: 0 0;}
			&.fb:hover {background-position: -34px 0;}
			&.vk {background-position: -68px 0;}
			&.vk:hover {background-position: -102px 0;}
			&.tw {background-position: -136px 0;}
			&.tw:hover {background-position: -170px 0;}
			&.gp {background-position: -204px 0;}
			&.gp:hover {background-position: -238px 0;}
			&.li {background-position: -272px 0;}
			&.li:hover {background-position: -306px 0;}
			&.ss {background-position: -340px 0;}
			&.ss:hover {background-position: -374px 0;}
			&.vi {background-position: -408px 0;}
			&.vi:hover {background-position: -442px 0;}
		}
	}
}
@media (max-width: 320px) {
	.header-sm {
		.logo {
			img {height: 60px;}
			h1 {font-size: 36px; line-height: 36px;}
			p {margin-left: 75px; font-size: 12px;}
		}
	}
}