.header {
	background: image-url('header.jpg') no-repeat;
	height: 622px;
	padding-top: 60px;
	
	.logo {
		width: 400px;
		float:left;	
		h2 {text-indent: -9999px; display:none;}
		p {margin: 15px 0 0 102px; color: #fff;}
	}
	
	.main_menu {
		padding: 0;
		color: #fff;
		font-size: 14px;
		ul {
			margin: 0 0 5px 0;
			list-style-type: none;
			text-align: right;
			li {
				display: inline-block;
				margin-left: 10px;
				&:first-child {
					margin-left: 0;
				}
				a {
					color: #fff;
				}
			}
		}
	}
	
	.promo_block {
		clear: both;
		position: relative;
		left: 50%;
		margin-left: -50px;
		h1 {
			font-size: 28px;
			line-height: 30px;
			font-weight: 300;
			color: #fff;
		}
		a {
			margin-top: 60px;
			width: 320px;
			text-align: center;
			padding: 13px 15px;
			font-size: 18px;
		}
	}
}

.footer {
	box-shadow: inset 0 7px 9px -7px rgba(0,0,0,0.7);
	-moz-box-shadow: inset 0 7px 9px -7px rgba(0,0,0,0.7);
	-webkit-box-shadow: inset 0 7px 9px -7px rgba(0,0,0,0.7);
	
	color: #fff;
	background: #333;
	padding: 40px 0 40px 0;
	
	.copyright, .tagline {
		line-height: 20px;
		font-size: 14px;
	}
	
	.main_menu {
		font-size: 14px;
		ul {
			padding: 0;
			list-style-type: none;
			text-align: right;
			margin: 0;
			li {
				display: inline-block;
				margin-left: 10px;
				&:first-child {
					margin-left: 0;
				}
				a {
					color: #fff;
				}
			}
		}
  }
	.social-nav {
		margin-top: 20px;
		ul {
			padding: 0;
			list-style-type: none;
			text-align: left;
			li {
				display: inline-block;
				margin-left: 5px;
				&:first-child {
					margin-left: 0;
				}
				img {
					border-radius: 1px;
				}
			}
		}
	}
	
	hr {
		background: #4d4d4d;
		border: none;
		height: 1px;
		width: 360px;
		margin: 23px 0;
	}
}

#form-modal {
	.modal-content {
		border-bottom-left-radius: 0px;
		border-top-left-radius: 0px;
		border-bottom-right-radius: 0px;
		border-top-right-radius: 0px;
	}
	.modal-header, .modal-footer {
		border: none;
	}
	.modal-header {
		text-align: right;
		.close {float: none;}
		h4 {
			text-transform: uppercase;
			text-align: center;
		}
	}
	.modal-body {
		p {
			color: #4d4d4d;
			font-weight: 400;
		}
		input[type="text"], input[type="tel"], input[type="email"] {
			height: 36px;
			width: 209px;
			box-sizing: border-box;
			padding: 0 10px;
			border: 1px solid #999;
			background: #fff;
			color: #999;
			margin-bottom: 10px;
		}
		input[type="submit"]{
			width: 209px;
			height: 46px;
			border: none;
			background: #ffca05;
			color: black;
			margin-bottom: 10px;
			text-transform: uppercase;
			font-weight: 400;
		}
		img, span {display:inline-block;}
		span {
			vertical-align: top; 
			width: 182px; 
			padding-left: 5px; 
			box-sizing: border-box;
			line-height: 16px;
		}
	}
}