%script#cookieinfo{src: "https://cookieinfoscript.com/js/cookieinfo.min.js", type: "text/javascript", "data-message": "Мы используем куки, чтобы улучшить ваше взаимодействие с сайтом. Продолжая использовать этот сайт, вы соглашаетесь с использованием куки", "data-linkmsg": "", "data-moreinfo": "", "data-close-text": "Хорошо", "data-link": "#1c6794"}
