%script#cookieinfo{src: "//cookieinfoscript.com/js/cookieinfo.min.js", type: "text/javascript", "data-message": "Мы используем куки, чтобы улучшить ваше взаимодействие с сайтом. Продолжая использовать этот сайт, вы соглашаетесь с использованием куки", "data-linkmsg": "Хорошо", "data-moreinfo": "#"}
